<div class="ui text container">
    <p>Hey Scale! My name is Sashank, and this is my take on the Scale Take Home. I hope you like it!</p>
    <h3>How it works:</h3>
    <p>There are two sides to this application:</p>
    <ul>
        <li>the <b>user</b> (who can put in image recognition requests)</li>
        <li>and the <b>scaler</b> (who can use the backpanel to complete image annotations). </li>
    </ul>
    <h3>1) The user side:</h3>
    <p>In use the <b>user</b> side, simply go to the top right hand corner, and click <b>Login (User)</b>.</p>
    <p>There is already an account with a bunch of pre-made requests at the following account:</p>
    <div class="ui segment">
        <b>Email</b>:
        <div class="ui label">sashank@scaleapi.com</div>
        <b>Password</b>:
        <div class="ui label">sashank123!</div>
    </div>
    <p>Feel free to also create a new account, generate an API token, and make new requests from there as well!</p>
    <h3>2) The scaler side:</h3>
    <p>In use the <b>scalar</b> side, simply go to the top right hand corner, and click <b>Login (Scaler)</b> and login with the following pre-made account.</p>
    <div class="ui segment">
        <b>Email</b>:
        <div class="ui label">lucy@scaleapi.com</div>
        <b>Password</b>:
        <div class="ui label">lucy123!</div>
    </div>
</div>
